body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.alert__fail {
    color: red;
    font-weight: 800;
}

.alert__success {
    color: green;
    font-weight: 800;
}

.errors {
    color: red;
    padding: 1em 0;
}

#username_error,
#password_error {
    display: none;
}

.redinput {
    border: 5px solid red;
}

.blackinput {
    border: 1px solid #aaa;
}