<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../javascripts/validation.js"></script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        <% if (typeof publickey_success_msg !== 'undefined' && publickey_success_msg.length > 0){ %>
            <div class="alert__success">
                <%= publickey_success_msg %>
                    <% } %>
            </div>
    </div>
    <form method="POST" id="pubKeyForm" action="" onsubmit=pubKey(this)>
        <p>Set Public Key</p>
        <input type="text" name="pubkey" id="pbk" placeholder="Public Key">
        <input type="submit" value="SetPubKey">
    </form>
    <script>
        function clearText() {
            for (var i = 10; i >= 0; i--) {
                if (i == 1) {
                    $('div.alert__fail').fadeOut();
                    $('div.alert__success').fadeOut();
                }
            }
        }
        window.setTimeout(() => {
            clearText();
        }, 1000);
    </script>
</body>

</html>